NEXT_PUBLIC_APP_PROXY_BASE_PATH=/apps/enclosure-designer
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SHOPIFY_SHOP_DOMAIN=basshead-supply.myshopify.com
SHOPIFY_CLIENT_ID=
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_API_SECRET=
SHOPIFY_ADMIN_API_VERSION=2026-04
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_FB_PIXEL_ID=
